# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks
.ipynb_checkpoints/
*-checkpoint.ipynb
# macOS
.DS_Store

# VS Code
.vscode/

# CycleGAN repository
pytorch-CycleGAN-and-pix2pix/

# Data & model artefacts at top level (just in case)
datasets/
results/
checkpoints/
*.pth
*.zip
